<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not-Found page</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <h1>OOPS!...</h1>
    <p>There is nothing to see here the page is not active</p>
</body>
</html>