<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <h3>This page is about applying the knowledge you have gained from the crash course</h3>
    <p>Welcome to my about page</p>
</body>
</html>