<table class="table">
    <thead>
        <tr>
            <th>Name </th>
            <th>Age </th>
        </tr>
    </thead>

    <tbody>
    

        <td>
            <% data.forEach(item =>{ %>
                <a href="/entry/<%= item.id %>">
                <%= item.name%> 
                </a> 
                
            <%})%>
        </td>
        
        <td>
            <% data.forEach(item =>{ %>
                <%= item.age %>
                
            <%})%>
        </td>
       

    </tbody>